*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    background: #fefefe 
}

#menu{
    background: white; color: #A1394A;
    ;
    font-family: cocogoose;
    padding: 30px;
    font-size: 40px;
    text-align-last: center;
    width: 100%;

}   

a{
    color:#A1394A;
    text-decoration: none;
    font-weight: bold;
    font-size: 40px;
    padding: 29px   
    
}